<md-sidenav class="site-sidenav  md-whiteframe-z2"
            ng-class="menuPosition === 'left' ? 'md-sidenav-left' : 'md-sidenav-right'"
            md-component-id="{{menuId}}"
            md-is-locked-open="$mdMedia('gt-sm')">

  <md-toolbar class="md-whiteframe-z1">
    <h1>{{title}}</h1>
  </md-toolbar>

  <md-list>
    <md-list-item ng-repeat="element in list">
      <md-button ng-click="select(element)" ng-class="{'selected' : $index === selected }">
        <md-icon md-svg-icon="svg-2" class="avatar"></md-icon>
        {{listName(element)}}
      </md-button>
    </md-list-item>
  </md-list>

</md-sidenav>
