<md-dialog aria-label="Service detail" ng-cloak class="service-detail-modal">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <img class="service-icon si-m" style="margin:5px;" src="assets/serviceResources/soundcloud/sc_st_white_460x290.png" />
                <h2>SoundCloud</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div ng-show="service.connected">
            <md-dialog-content style="max-width:800px;max-height:810px; ">
                <div class="md-dialog-content">
                    <div layout="row" class="profile-header">
                        <div class="picture">
                            <img src="https://i1.sndcdn.com/avatars-000124135606-xrc6fw-large.jpg"/>
                        </div>
                        <div class="resume">
                            <h2>Pacodedoverde</h2>
                            <h4 class="md-subhead">paco@gmail.com</h4>
                        </div>
                    </div>
                    <p>
                        <b>Access token:</b> {{service.access_token}}
                    </p>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" class="md-warn">
                    Log-out
                </md-button>
                <span flex></span>
                <md-button ng-click="cancel()" style="margin-right:20px;">
                    Close
                </md-button>
            </md-dialog-actions>
        </div>

        <div ng-hide="service.connected" layout="row" layout-sm="column" layout-align="center">
            <p>You are not connected</p>
            <md-button class="md-raised md-primary">Click here to connect</md-button>
        </div>
    </form>
</md-dialog>