@import 'mixins.scss';

* {
  box-sizing: border-box;
}
// All-application container
.song-bridge {

  height: 100%;

  .main-menu {
    height: 100%;
    display: flex;
    .toolbar-header {

    }
  }
  .platform-menu {
    md-toolbar:not(.toolbar-header) {
      background-color:rgba(255, 85, 0, 1);
    }
    .toolbar-service {
      min-height: initial;
      padding-top: 5px;
      padding-bottom: 5px;
      height: 190px;
      max-height: 300px;

      .toolbar-service-detail {
        .profile-header {
          .picture {
            width: 100px;
            height: 100px;
            margin: 5px;
          }
          .resume {
            padding-left: 10px;
            h3 {
              margin-top: 17px;
            }
          }
        }
      }
    }

    .playlist-list {
      md-list-item {

        .playlist-item {

          width: 100%;
        }
      }
    }

  }

  // Main application content
  .application-frame {

    // Frame title bar
    .frame-title {

    }

    .frame-content {
      height: 100%;
    }

    // Frames
    .service-dashboard{
      .service-card {
        margin: 30px;
        height: 300px;
        cursor: pointer;
        position: relative;

        .service-logo {
          visibility: visible;
          display: block;
          max-width:90%;
          max-height:90%;
          width: auto;
          height: auto;
        }

        .service-card-detail {
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .service-card-split {
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);

          md-icon {
            margin: 10px;
          }
          //-webkit-filter: blur(0px) grayscale(0) opacity(0.6);
          &:hover {
            //-webkit-filter: opacity(1);
            background-color: rgba(255, 255, 255, 0.64);

          }
        }

        &:hover {
          .service-card-detail {
            visibility: visible;
          }
        }

        &.spotify {
          background-color: rgba(132, 189, 0, 1);
          &:hover {
            background-color: rgba(132, 189, 0, 0.3);
          }
        }
        &.deezer {
          background-color: rgba(58, 58, 58, 1);
          /*&:hover {
            background-color: rgba(58, 58, 58, 0.3);
          }*/
        }
        &.soundcloud {
          background-color: rgba(255, 85, 0, 1);
          &:hover {
            background-color: rgba(255, 85, 0, 0.3);
          }
        }
      }
    }

    .library-view {
      md-whiteframe {
        margin: 20px;
      }
      .library-table {
        border-collapse: collapse;
        border-spacing: 0;
        background-color: transparent;
        width:100%;
        border-top: 1px solid #ddd;
        thead {
          tr {
            th {
              padding: 12px 24px;
              border-bottom: 1px solid #e7e8ea;
              vertical-align: bottom;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 12px 24px;
              border-top: 1px solid #e7e8ea;
            }
          }
          .service-available {
            width:24px;
            height:24px;
            min-height:24px;
            line-height:24px;
            font-size: 0.9em;
            font-weight: 200;
            &.soundcloud {
              background-color: orange;
            }
            &.spotify {
              background-color: green;
            }
            &.deezer {
              background-color: black;
            }
          }
        }
      }
    }
  }

  md-sidenav {
    height:100%;
  }
}

.service-icon {
  max-width:24px;
  max-height:24px;
  width: auto;
  height: auto;
  &.si-m {
    max-width:36px;
    max-height:36px;
  }
  &.si-l {
    max-width:48px;
    max-height:48px;
  }
}

.service-detail-modal {
  min-width:400px;
  max-width: 80%;
  md-toolbar {
    h2 {
      margin-left: 7px;
    }
  }
  .profile-header {
    .picture {
      margin:3px;
    }
    .resume {
      padding-left:5px;
    }
  }
}