<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Angular Material - Starter App</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="assets/app.css"/>

  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-animate/angular-animate.js"></script>
  <script src="./bower_components/angular-aria/angular-aria.js"></script>
  <script src="./bower_components/angular-route/angular-route.js"></script>
  <script src="./bower_components/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

  <script src="./src/app.js"></script>
  <script src="./src/directives/sidemenu/sidemenu.js"></script>
  <script src="./src/directives/content/content.js"></script>
  <script src="./src/directives/login/login.js"></script>
  <script src="./src/services/spotify.js"></script>
  <script src="./src/controllers/Controller.js"></script>
  <script src="./src/controllers/authCtrl.js"></script>
</head>

<body ng-app="App" layout="row" ng-controller="Controller as ul">

    <sidemenu title="Left menu" list="ul.list1"></sidemenu>

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

      <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h1>Double menu MD layout</h1>
      </md-toolbar>

      <login ng-if="!ul.logged"></login>
      <div ng-view></div>

    </div>

    <sidemenu title="Right menu" list="ul.list2"></sidemenu>

</body>
</html>
