<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar md-scroll-shrink >
        <div class="md-toolbar-tools">
            <h3>
                <span>Main Menu</span>
            </h3>
        </div>
    </md-toolbar>
    <md-list class="menu-list">
        <md-list-item>
            <md-button ng-click="select(element)" flex="100" ng-class="{'selected' : $index === selected }">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="dashboard"></ng-md-icon>
                    </div>
                    <div class="inset">Music services
                    </div>
                </md-item-content>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button ng-click="select(element)" flex="100" ng-class="{'selected' : $index === selected }">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="dashboard"></ng-md-icon>
                    </div>
                    <div class="inset">Settings
                    </div>
                </md-item-content>
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>